.component {
  background-color: var(--c-white);
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  padding: var(--s-2);
}
